@import "../CurrentWeather/CurrentWeather";
.ThreeDays-weather{
  display: flex;
  .ThreeDays-block{
    margin-left: 12%;
    white-space: nowrap;
    text-align: center;

    .three-temp-title{
      @include text-props($darkBlue,33px,bold,_);
      margin-bottom: 10px;
    }
    .three-temp-item{
      padding: 6px 0;
      @include text-props($grey,22px,bold,_);
      .three-temp-item-img{
        text-align: center;
        width: 150px;
        height: 150px;
      }
      .three-temp-item-text{
        @include text-props($darkBlue,22px,bolder,_);
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1209px){
  .Three-props{
    margin-left: 5%!important;
  }
  .ThreeDays-weather{
    .ThreeDays-block{
        margin-left: 1%;
        .three-temp-title{
          font-size: 20px!important;
        }
        .three-temp-item{
          padding: 3px 0!important;
          font-size: 16px!important;
          .three-temp-item-text{
            font-size: 15px!important;
          }
          .three-temp-item-img{
            width: 70px!important;
            height: 70px!important;
          }
        }
    }
  }
}
@media (min-width: 1210px) and (max-width: 1521px){
  .ThreeDays-weather{
    .ThreeDays-block{
      margin-left: 7%;
      .three-temp-title{
        font-size: 24px!important;
      }
      .three-temp-item{
        padding: 4px 0!important;
        font-size: 18px!important;
        .three-temp-item-text{
          font-size: 16px!important;
        }
        .three-temp-item-img{
          width: 75px!important;
          height: 75px!important;
        }
      }
    }
  }
}
@media (min-width: 1522px) and (max-width: 1670px){
  .ThreeDays-weather{
    .ThreeDays-block{
      margin-left: 12%;
      .three-temp-title{
        font-size: 28px!important;
      }
      .three-temp-item{
        padding: 5px 0!important;
        font-size: 21px!important;
        .three-temp-item-text{
          font-size: 19px!important;
        }
        .three-temp-item-img{
          width: 85px!important;
          height: 85px!important;
        }
      }
    }
  }
}
