@import "../Sidebar/Sidebar";
@import "../CurrentWeather/CurrentWeather";
body{
  margin: 0;
  padding: 0;
    li{
      list-style: none;
    }
    a{
      text-decoration: none;
    }
}
.Weather{
  display: flex;

}
.Empty-title{
  margin-left: 40%;
  margin-top: 25%;
  @include text-props($darkBlue,50px,bold,_)
}
